<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Text Source</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/source.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <!-- <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

</head>

<body id="page-top" class="index">


    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class='row'>
                    <div class='col-xs-12'>
                        <div class="intro-heading">&lt;source&gt;Text&lt;/source&gt;</div>
                        <div class="intro-lead-in">Enter a URL to see the source code for that website</div>
                        <a href="#tag" class="page-scroll btn btn-xl">Search</a>                    
                    </div> <!-- close col -->
                </div> <!-- close row -->
            </div> <!-- close intro text -->
        </div> <!-- close container -->
    </header>


    <!-- Results -->
    <section id="tag" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-2 col-xs-12 text-center">
                    <h2 class="section-heading">tag Count</h2>
                </div> <!-- close col -->
                <div class='col-md-7'>
                    <h2 class="section-heading">Source Text</h2>
                </div> <!-- close col -->
            </div> <!-- close row -->
        </div> <!-- close container -->
    </section>

  

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/static/js/classie.js"></script>
    <script src="/static/js/cbpAnimatedHeader.js"></script>


    <!-- Custom Theme JavaScript -->
    <script src="js/source.js"></script>

</body>

</html>
