<!-- todo -->
<!-- add readme -->

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Text Source</title>

    <!-- favicon -->
    <link rel="icon" type="image/png"  href="/static/img/favicon    .png">

    <!-- Bootstrap Core CSS -->
    <!-- <link href="/static/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="/static/css/source.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <!-- <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

</head>

<body id="page-top" class="index">


    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class='row'>
                    <div class='col-xs-12'>
                        <div class="intro-heading">&lt;source&gt;Text&lt;/source&gt;</div>
                        <div class="intro-lead-in">Enter a URL to see the source code for that website</div>
                            <form id='input-form'>
                                <input type='text' id='source' placeholder="Enter a URL">
                                <input type="submit" class="btn btn-md" id='submit-btn' value="Search">
                            </form>
                        <div id='warning'></div> <!-- close warning -->
                    </div> <!-- close col -->
                </div> <!-- close row -->
            </div> <!-- close intro text -->
        </div> <!-- close container -->
    </header>


    <!-- Results -->
    <section id="tag" class="bg-light-gray" hidden>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-12 text-center">
                    <h2 class="section-heading" id="tag-count-header" hidden>Tag Count</h2>
                    <div id='tag-count-loading' hidden><img src='/static/gif/loading.gif'></div>
                    <div id='tag-count'></div> <!-- close tag count -->
                </div> <!-- close col -->
                <div class='col-md-8'>
                    <h2 class="section-heading" id="source-text-header" hidden>Source Text</h2>
                    <h3 class="section-heading" id='tag-info'></h3>
                    <div id='source-text-loading' hidden><img src='/static/gif/loading.gif'></div>
                    <div id="source-text"></div> <!-- close source text -->
                    <br>
                    <a href="#tag" id='top-btn' hidden><button class="btn btn-md" value="Top">Top</button></a>
                </div> <!-- close col -->
            </div> <!-- close row -->
        </div> <!-- close container -->
    </section>
  

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- highlight jQuery -->
    <script src='/static/js/highlight.js'></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/source.js"></script>

</body>

</html>
